.checkable
{
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	cursor: pointer;
	padding: 10px;
	font-weight: 500;
	font-size: 0.9rem;
	border-radius: 2px;
	color: #fff;
	
	border-color: #323232;
	background-color: #323232;
	
	@include shadow( $blur: 5px, $spread: -1px, $trans: .35 );
}

.checkable:hover
{
	border-color: #5a5a5a;
	background-color: #5a5a5a;
}

.checkable-active
{
	color: #555;
	background-color: #f8f8f8;
}

.checkable-active:hover
{
	color: #555;
	background-color: #dbdbdb;
}