@import './styles/_variables.scss';
@import './styles/_mixins.scss';
@import './components/Catalogue/styles.scss';
@import './components/Checkable/styles.scss';
@import './components/ProductCard/styles.scss';
@import './components/NavBar/styles.scss';
@import './components/SearchBar/styles.scss';
@import './components/FormAdmin/styles.scss';
@import './components/NavAdmin/styles.scss';
@import './components/Product/styles.scss';
@import './components/FormAdmin/MediaForm/styles.scss';
@import './components/FormAdmin/MediaRow/styles.scss';
@import './components/Order/styles.scss';
@import './components/FormAdmin/OrderTable/styles.scss';
@import './components/FormCreateUser/styles.scss';
@import './components/PanelAdmin/styles.scss';
@import './components/Cart/styles.scss';
@import './components/CartCard/styles.scss';
@import './components/CartCard/styles.scss';
@import './components/FormUserLogin/styles.scss';
@import './components/Home/PrincipalCard/styles.scss';
@import './components/Home/SecondCard/styles.scss';
@import './components/Home/styles.scss';
@import './components/FormManageUser/styles.scss';
@import './components/FormReview/styles.scss';
@import './components/Review/styles.scss';
@import './components/ResetPassword/ResetPassword.scss';

html, body, .app, #root
{
	height: 100%;
}

body
{
	background-color: $black;
	padding-top: 3.25rem;
	
	&::-webkit-scrollbar
	{
		width: 0.75rem;
		background-color: #F5F5F5;
	}
	
	&::-webkit-scrollbar-track 
	{
		background-color: $grey;
		box-shadow: inset 0 0 6px rgba( 0, 0, 0, 0.3 );
	}
	
	&::-webkit-scrollbar-thumb
	{
		background-color: $light-grey;
	}
}

.app
{
	padding-left: 0;
	padding-right: 0;
}

.customLoadingSpinner
{
	display: block;
	
	margin: 0 auto;
	margin-top: 25vh;
	
	text-align: center;
	
	filter: invert( 100% );
	
	&-products
	{
		margin: 0 auto;
		margin-top: 0;
	}
}
