.product-carousel-main  {
    margin: 1rem;
    img {
        border-radius: 1%;
    }
}

.product-card {
    border: none;
}

.product-card-info{
    background-color: $black;
    color: white;

    h1 {
        font-family:$kanit;
        font-style: italic;
        font-size: 2.5rem;
        text-align: center;
    }
}

.product-row-border-top {
    border-top: 3px solid $grey;
    padding-top: 1rem;
}

.product-card-text {
    font-family:$barlow;
    text-align: left;
    font-size: 1.25rem;
    
    .row {
        justify-content: space-between;
        margin: 1rem 0;
    }

    button {
        padding: 0.5rem 1rem;
    }

    span{
        font-size: 1.25rem;
    }

    .badge {
        margin: 0.40rem;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
    }

    h2{
        font-size: 1.5rem;
        font-style: italic;
        color: $light-grey;
    }

}

.action-buttons{
    display: flex;
    justify-content: flex-start;
}