.panelAdmin-container {

    a:hover{
        text-decoration: none;
    }

    h1 {
        font-family: $kanit;
        background-color: $black;
        text-align: center;
        color: $white;
    }

    .panelAdmin-internal-container {
        
        border-radius: 10px;
        font-family: $barlow;
        background-color: $grey;
        padding: 1rem 0 1rem 0;
        margin: 0 4rem 0 4rem;
        
        .row {
            display: flex;
            justify-content: center;
        }
        
        .card-filter {
            min-height: 4rem ;
            width: auto;
            background-color: $blue;
            color: $white;
            margin-top: 2rem;
            border-radius: 10px;
            
            @media (max-width: 991px){
                min-height: 13rem ;
            }
            
            .card-filter-body {
                display: flex;
                flex-direction: row-reverse ;
                justify-content: center;

                .card-filter-text {
                    font-size: 3rem;
                    display: inline-block;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                .card-filter-title {
                    margin-top: 2rem;
                    margin-left: 1.5rem;
                    font-size: 1.25rem;
                }
            }
            

        }

        .card {
            background-color: $blue;
            color: $white;
            min-height: 13rem;
            margin-top: 2rem;
            border-radius: 10px;

            &:hover {
                transform: scale( 1.07 );
                transition: 350ms;
            }
            .card-title {
                text-align: center;
            }
            .card-text {
                margin-bottom: 1.2rem;
                text-align: center;
                vertical-align: middle;
                font-size: 3rem;
            }
            .card-body {
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 0.5rem;
            }
        }
    }
}