.productCard__card
{
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-radius: 5px;
	transition: all .2s ease-in-out;
	font-family: $barlow;
	background-color: $grey;
	
	@include shadow( $blur: 10px, $spread: 0, $trans: .5 );
}

.productCard__card:hover
{
	transform: scale( 1.03 );
}

.productCard__card-header
{
	padding: 0;
}

.productCard__card-img
{
	width: 100%;
	height: auto;
	
	border-radius: 5px 5px 0 0;
} 

.productCard__card-body
{
	padding: 1rem;
	border-top: none;
	border-radius: 0 0 2px 2px;
	
	div
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	p
	{
		margin-bottom: 0;
	}
}

.productCard__card-name
{
	font-size: 1rem;
	margin-bottom: 0;
	font-weight: 550;
	font-family: $kanit;
	font-style: italic;
	color: white;
}

.productCard__card-developer
{
	color: #aaa;
}

.productCard__card-price
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: $light-blue;
}

.productCard__cart-button
{
	z-index: 100;
	border: none;
	outline: none;
	background-color: transparent;
	
	svg
	{
		color: $light-blue;
	}
	
	&:hover svg
	{
		color: lighten( $light-blue, 10% );
	}
	
	&:focus
	{
		outline: none;
	}
}

.productCard__card-noStock
{
	margin-top: 1.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: red;
}