.order-container {

    margin-top: 2rem;
    font-family: $barlow;

    .card {
        background-color: $grey;
        border-radius: 10px;
    }

    .table {
        background-color: $grey;
        text-align: center;

        th {
            font-weight: 500;
            border: $light-grey solid 2px;
            width: min-content;
        }

        td {
            border: $light-grey solid 2px;
            width: min-content;
        }
    }
}