.catalogue__container
{
	margin-top: 3rem;
}

.catalogue__product-link
{
	text-decoration: none !important;
}

.catalogue__categories-list
{
	width: 100%;
}

.catalogue__product-col
{
	padding: 0 0.5rem;
	padding-bottom: 1rem;
}

.catalogue__categories-list > div
{
	margin-bottom: 5px;
}

.catalogue__categories-section-title
{
	padding: 10px 20px;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 2px;
	color: #fff;
	background-color: #6c6c6c;
	margin-bottom: 1rem;
	text-align: center;
	user-select: none;
	
	@include shadow( $blur: 5px, $spread: -1px, $trans: .35 );
}

.catalogue__expand-button
{
	border: none;
	width: 100%;
	padding: 5px;
	border-radius: 2px;
	
	font-weight: 700;
	font-family: $barlow;
	color: #fff;
	background-color: #6c6c6c;
}

.catalogue__expand-button:focus
{
	outline: none;
}

.catalogue__loading
{
	display: block;
	
	margin: 0 auto;
	margin-top: 25vh;
	
	text-align: center;
	
	&-products
	{
		margin: 0 auto;
		margin-top: 0;
	}
}