
/*.searchBar-button {
	color: #FFF;
	font-family: $barlow;
	transition: all 0.3s;
	position: relative;
	border: $blue solid 2px;
}
.searchBar-button span {
	transition: all 0.3s;
}
.searchBar-button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.searchBar-button:hover span {
	letter-spacing: 2px;
}
.searchBar-button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.searchBar-button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.searchBar-button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}*/

.searchBar
{
	display: flex;
	align-items: center;
	height: 100%;
	
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }
}

.searchBar__button
{
	background-color: transparent;
	color: #ccc;
	border: none;
	font-size: 1.25rem;
	
	&:focus
	{
		outline: none;
	}
}

.searchBar__input
{
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 0.25rem;
	padding: 0.25rem;
	padding-left: 0.1rem;
	
	&:focus
	{
		border-bottom: 1px solid $blue;
		box-shadow: 0 1px 0 0 $blue;
	}
}