.searchBar
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	background-color: $black;
	
	@include shadow( $blur: 0px, $spread: 1px, $color: #fff, $inset: true );
	
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }
	
	@include mq( 'lg' )
	{
		max-width: 15rem;
		padding: 0;
		margin-bottom: 0.25rem;
		margin-right: 1rem;
		background-color: transparent;
		box-shadow: none;
	}
}

.searchBar__submit-button
{
	font-size: 1.25rem;
	border: none;
	background-color: transparent;
	color: rgba( 255, 255, 255, 0.5 );
	
	&:hover
	{
		color: #ccc;
	}
	
	&:focus
	{
		outline: none;
	}
}

.searchBar__input-wrapper
{
	display: block;
	position: relative;
	width: 100%;
	
	@include mq( 'lg' )
	{
		width: 0;
		opacity: 0;
		z-index: -1;
		transition: all .2s ease-in-out;
	}
}

.searchBar__input
{
	display: block;
	color: $light-grey;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #555;
	outline: none;
	margin-left: 0.25rem;
	padding: 0.25rem;
	padding-left: 0.1rem;
	height: 2.5rem;
	width: 100%;
	line-height: 0.5;
	
	&:focus
	{
		color: #fff;
		border-bottom: 1px solid $blue;
		box-shadow: 0 1px 0 0 $blue;
	}
}

.searchBar__close-button
{
	position: absolute;
	bottom: 5px;
	right: 0;
	background-color: transparent;
	color: #ccc;
	border: none;
	font-size: 1.25rem;
	
	&:focus
	{
		outline: none;
	}
	
	@include mq( 'lg' )
	{
		bottom: 0;
		height: 2.5rem;
	}
}