.cart-container {
    background-color: $grey;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    color: $white;


    .card {
        border: 4px $light-grey solid;
        border-radius: 10px;
        background-color: $grey;
    }

    .card-header {
        background-color: $black;
        color: $white;
        font-family: $barlow;
        border-radius: 6px 6px 0 0;
        border-bottom: 4px solid $light-grey;
    }

    .card-footer {
        border-top: 4px solid $light-grey;
    }

    h2, p {
        font-family: $barlow;
    }

    .cart-button-buy {
        font-size: 1.5rem;
        background-color: $blue;
        font-family: $barlow;
        margin-top: 1rem;
        &:hover {
			box-shadow: 0 0 8px $blue;
		}
    }

    .cart-button-cancel {
        font-size: 1.5rem;
        font-family: $barlow;
        margin-top: 1rem;
        &:hover {
			box-shadow: 0 0 8px red;
        }
        float: right
    }


}