.orderTable-selector-button {
    font-family: $barlow;
    font-size: 1.5rem;
    color:white;
    background-color: $blue;
    margin-bottom: 1.5rem;
    height: 3rem;
    border-radius: 2px;
    border-color: $blue;
}

.orderTable-row {
    text-align: center;
}