
.containerUserLogin {
    background-color: $grey;
    margin: 2rem auto 2rem auto;
    max-width: 42rem;
    padding: 0 0 3rem 0;
    font-size: 1.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  
}


.formUserLogin {
    font-family: $barlow !important;
    background-color: transparent;
        label {
            color: rgba(202, 199, 199, 0.904); 
            width: min-content;
            position: absolute;
            top: 1px;
            left: 7px;
        }
        h1 {
            color: $white;
            padding-right: 0.6rem;
            margin: 0;
            font-size: 2rem;
            padding-top: 1.7rem;
        
        }
        button {
            margin-top: 1.5rem;
            background-color: $blue;
        }
        
        h6 {
            margin: 2rem 0rem 0.5rem 0rem;
            color: $white;
            font-family: $barlow;
        }
        
        .google-button {
            padding: 0.5rem 1rem;
            margin: 0.5rem 1rem 0.5rem 0rem; 
            border: 1px solid $blue;
            background-color: $grey;
            color: $white;
            font-family: $kanit;
            &:hover{
                background-color: $blue;
            }

            .button-space {
                margin-right: 0.5rem;
                color: red;
            }
        }
        
        .facebook-button {
            padding: 0.5rem 1rem;
            margin: 0.5rem 1rem;
            border: 1px solid $blue;
            font-family: $kanit; 
            background-color: $grey;
            color: $white;
            &:hover{
                background-color: $blue;
            }

            .button-space {
                margin-right: 0.5rem;
                color: $blue;
                background-color: $white;
                border-radius:100%;
                font-size: 1.3rem;
            }
        }

        .form-group {
            padding-top: 1rem;
            width: 30rem;
            .bZuaGP {
                .cCYNlE {
                    border-bottom: transparent;
                    .cQfKIB {
                        border: 0.2rem solid $grey;
                        background-color: $grey;
                        position: absolute;
                        top: 3px;
                    }
                    .kCarGG{
                        background-color: transparent;
                        border: 2px $light-grey solid;
                        border-radius: 5px;
                        padding-top: 0.9rem;
                    }

                    .fzlnyb{
                        background-color: transparent;
                        border: 2px $blue solid;
                        border-radius: 5px;
                        padding: 0.4rem 0 0.5rem 0;
                        box-shadow: 0 0 3px $blue;
                        color: $white;
                        text-indent: 0.6rem;
                        &:-webkit-autofill {
                            box-shadow: 0 0 0 30px $grey inset;
                            -webkit-text-fill-color: $white !important;
                        }
                    }
                }
            }
        }
}

.linkUserLogin {
    position: absolute;
    bottom: 0.9rem;
    right: 1rem;
    color: $blue;
    text-decoration: none !important;
    &:hover{
        color: #30a5ec !important;
    }
}

.formUserLogin-logo {
    width: 10rem;
    height: 6rem;
}

.formUserLogin-title {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
    padding-left: .2rem;
}

