
.container-logued {
    
    display: flex;
    justify-content: flex-end;
    
    .card {
        display: flex;
        max-width: 12rem;
        background-color: $black;
        border-radius: 10px;
        border: 1px solid $blue;
        
        .card-title {
          margin: 1.5px;
          color: white;
        }
        .card-body {
           background-color: $grey;

           .card-text {
               color: white;
           }
        }
        .card-footer {
            display: flex;

            .card-button {
                color: white;
                text-align: left;
            }
        }
        
    }
}


	