.secondCard-container {

    overflow: hidden;
    color: $white;
    border: 2px solid $light-grey;
    border-radius: 10px;
    font-family: $barlow;
    margin: 2rem 0 0 0;
    transition: .3s;
    max-height: 20rem;
   
    .card-header {
        padding: 0;
        z-index: 0;

    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 0;
        width: 20rem;
    }

    .seconCard-price-original {
        position: absolute;
        top: -1.1rem;
        right: 8.8rem;
        font-size: 2.1rem;
        font-style: italic;
        text-decoration: line-through;

        &:after {
            content: "";
            height: 3.06rem;
            background-color: $grey;
            border-radius: 5px 0 0 5px;
            position: absolute;
            top: 0.168rem;
            width: 5.2rem;
            right: -0.9rem;
            transform: skewX(-18deg);
            z-index: -1;
        }
    }

    .seconCard-price-offer {
        position: absolute;
        top: -1.1rem;
        right: 4rem;
        font-size: 2.1rem;
        font-style: italic;

        &:after {
            content: "";
            width: 3rem;
            height: 3rem;
            background-color: $blue;
            border-radius: 5px;
            position: absolute;
            top: 0.2rem;
            width: 10rem;
            right: -1rem;
            transform: skewX(-18deg);
            z-index: -1;

        }
    }

    .seconCard-developer {
        font-size: 2rem;
    }

    //Barra baja

    .card-body {
        /* display: flex;
        justify-content: space-between; */
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 20%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }

    //Desaparicion

    /* .card-body {
        color: transparent;
        background-color: transparent;
        transition: .3s;
        position: absolute;
        z-index: 1;
    }

    .seconCard-price {
        color: transparent;
        font-size: 2rem;
        font-style: italic;
    } */

    //Decenso lateral

    /* .card-body {
        width: 37.3rem;
        transition: .7s;
        height: 21.3rem;
        position: absolute;
        right: -44rem;
        top: -18rem;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
    } */

    &:hover {

        transform: scale( 1.01 );
        transition: .3s;

        .card-header {
            margin-bottom: 0;
        }

        //Decenso lateral

        /* .card-body {
            transition: 1s;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        } */

        //Desaparicion

       /*  .card-body {
            width: 37.3rem;
            transition: .3s;
            height: 21.3rem;
            position: absolute;
            z-index: 1;
            color: $white;
            background-color: rgba(0, 0, 0, 0.85);
            border-radius: 10px;
        }

        .seconCard-price {
            color: $blue;
            font-size: 2rem;
            font-style: italic;
        } */

    }
}