.product_card-card{
    margin-top: 5%;
    border-radius: 3%;
    color: white;
    background-color: $secondary-color-gray;
    font-family: $barlow;
}

.product_card-card-header{
    padding: 0%;
}

.product_card-card-img{
    border-radius: 3% 3% 0% 0%;
    width: 100%;
} 


.product_card-card-title{
    font-family: $kanit;
    font-size: 1.9rem !important;
}

.product_card-card-body{
    min-height: 4.6rem;
    text-align: center;
}

