/* Colors */

$black: #121212;
$grey: #2a2a2a;
$light-grey: #6c6c6c;
$blue: #0078f2;
$light-blue: #57abff;
$white: #e9e9e9;

/* Fonts */

$barlow: 'Barlow', sans-serif;
$kanit: 'Kanit', sans-serif;

/* Breakpoints */

$breakpoints: (
	"xs": 0px,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"uw": 1600px
);