/* Colors */

$primary-color-black: #212121;
$secondary-color-gray: #323232;
$third-color-light-grey: #6c6c6c;
$fourth-color-blue: #007dfc;

/* Fonts */

$barlow: 'Barlow', sans-serif;
$kanit: 'Kanit', sans-serif;
