.mediaContainer
{
	max-width: 30rem;
	
	@include margin-x( );
	@include mq( 'lg' )
	{
		max-width: none;
	}
}

.mediaForm select
{
	margin: 0 !important;
}

.mediaForm__button-submit
{
	width: 100%;
	padding: 5px;
	font-weight: 600;
	font-size: 0.9rem;
	color: #fff;
	background-color: $blue;
	border: 1px solid transparent;
	border-radius: 2px;
	
	@include margin-x( );
}

.mediaForm__button-submit:focus
{
	outline: none;
	border: 1px solid $white;
}

.mediaForm__button-submit:hover
{
	background-color: lighten( $blue, 10% );
}

.mediaForm__separator
{
	margin: 1rem 0;
	border-bottom: 1px solid #3f3f3f;
	
	@include mq( 'lg' )
	{
		display: none;
	}
}

.mediaForm__error
{
	width: 100%;
	margin: 0.55rem 0.35rem;
	margin-top: 0;
	padding: 0.5rem;
	font-size: 0.7rem;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif, arial;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #dd4545;
}